.talent-container {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.01em 10px;
  position: relative;
}

.talent-container .title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 0.1em;
}

.talent-container .specs {
  font-size: 0.9em;
  line-height: 0.1em;
}

.talent-container::first-letter { 
  font-size: 3em;
}

/* Ω */
.entity .title {
  color: #90f;
}

/* ♠︎ */
.item .title {
  color: #000;
}

/* ♣ */
.talent .title {
  color: #2baa60;
}

/* ♥♡ */
.lineage .title {
  color: #f30;
}

/* ★ */
.power .title {
  color: #bb3;
}

/* ♦ */
.property .title {
  color: #36f;
}

/* ☾ */
.catalyst .title {
  color: #099;
}