.tc-tiddler-body{
	overflow: hidden;
}

.nav-table{
	width: 100%;
}

.nav-table tr{
	width: 30%;
}

.nav-table td{
	width: 30%;
	vertical-align: top;
}

.full-width{
  width:100%;
}

.float-left{
  float: left;
  margin: 5px 25px;
}

.float-right{
  float: right;
  margin: 5px 25px;
}

.section-head{
  clear: both;
  font-size: 1.1em;
  font-variant: small-caps;
  text-align: center;
}

.katex{
  font-size: 1em;
}

blockquote.info{
  margin: 0px;
  border: 0px;
  padding: 0px;
}

blockquote.info:before { 
  font-weight: heavy;
  color: #bbb;
  content: "!";
  font-size: 2em;
  line-height: 0.6em;
  margin-right: 0.25em;
  vertical-align: -0.4em;	
  position: absolute;
  left: 26px;
}

blockquote.example { 
  clear: both;
  position: relative;
  background: #fcfcfc;
  border-left: none;
  margin-left: 50px;	
  margin-right: 50px;
  padding: 10px;
  border-radius: 8px;
}

blockquote.example cite:before {
  content: "\2014 \2009";
}

blockquote.example:before { 
  font-family: Georgia, serif;
  color: #bbb;
  content: open-quote;
  font-size: 8em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position: absolute;
  left: -50px;
  top: 42px; 
}

blockquote.example:after { 
  font-family: Georgia, serif;
  color: #bbb;
  content: close-quote;
  font-size: 8em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position: absolute;
  right: -80px;
  bottom: -20px;
}